---
import "../styles/global.css";
import PostHog from '../components/posthog.astro';

const navigation = [
	{ title: "Home", href: "/" },
	{ title: "Blogs", href: "/blogs" },
	// { title: "Worklog", href: "/worklog" },
	{ title: "Projects", href: "/projects" },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<PostHog />
	</head>
	<body class="terminal-scanlines bg-zinc-900 min-h-screen text-gray-900 font-mono">
		<main class="max-w-xl mx-auto px-4 py-8">
			<header class="text-sm">
				{navigation.map(({title, href}) => (
					<a href={href} class={`text-zinc-400 pr-4 hover:text-zinc-300 ${Astro.url.pathname === href ? "font-extrabold underline " : ""}`}>{title}</a>
				))}
			</header>
			<slot />
			<footer class="text-zinc-400 text-xs mt-8 ">
					<a class="hover:text-zinc-100" href="https://github.com/ayushsharma74/">github</a>
					<a class="hover:text-zinc-100" href="https://x.com/ayshtwt">twitter</a>
			</footer>
		</main>
	</body>
</html>
